<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
     <listener class-name="hms.ExtendedReportListener.ExtendReportNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <classes>
     <class name="admilPanelTestCase.logintest"></class>
     <class name="admilPanelTestCase.dashboardtest"></class>
     <class name="admilPanelTestCase.frontofficpagetest"></class>
     <class name="admilPanelTestCase.visitorbooktest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
